* {box-sizing: border-box;}
        body {
            overflow-x: hidden;
            margin:0;

          }

        .container {
             display: flex;
             background-color: #f9f9f9;
             padding:17px;
        }

      .container1 img {
            max-width:275px;
            max-height: auto;
          
        }

      .container1:hover img{
          transform: scale(1.1);
        }

        .container >.container1 {
            margin: auto;
            margin-top: 20px;
            box-shadow: 2px 2px 5px 5px #818181;
        }

        .container button {
            width: 100%;
            padding-block: 12px;
            font-size: 20px;
            border: none;
            outline: none;
        }

        nav {
            display: flex;
            list-style: none;
            background-color: #f1f1f1;
            box-shadow: 2px 2px 3px 4px #999;
            height: 80px;
            line-height: 3.5;
          
            transition: 5s;
            position: fixed;
            top: 0;
            width:100% ;
            z-index: 200;
          
        }
        .dropdown {
            overflow: hidden;
        }

 .dropdown .dropbtn {
        
            border: none;
            outline: none;
            font-size: 18px;
            color: black;
            font-weight: bolder;
            background-color: inherit;
            height: 72px;
            transition: 0.5s;
   
    
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 200px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
          }
          
          .dropdown-content a {
            float: none;
            color: black;
            padding: 5px 10px;
            text-decoration: none;
            display: block;
            text-align: center;
        
          }
          .dropdown:hover .dropbtn {
          border-bottom: 5px solid green;
           text-transform: uppercase;
          }

          .dropdown:hover  .dropdown-content {
             display: block;
          }
   

        nav > li {
            padding: 5px;
            margin-left: 40px; 
        }

        nav > li a {
            text-decoration: none;
            color: black;
            font-size: 20px;
            padding: 20px;
            font-weight: bolder;
            transition: 0.4s;
          
        }
        nav > li a:hover {
         border-bottom:5px solid red;
         text-transform: uppercase;
        }

        .sidenav {
        
           height: 100%;
            background-color: #111;
            list-style: none;
            position: fixed;
            top: 0;
            left: -40px;
           text-align: center;
            font-size: 20px;
           padding: 50px 0px;
            padding-top: 100px;
             z-index: 1;
            transition: 0.6s;
            width:0;
          overflow-x: hidden;
          overflow-y: auto;
    
        }

        .sidenav li {
            padding: 10px;
            line-height: 1.5;
          
        }
        .sidenav li a,.dropdown-btn {
            border: none;
            background-color: inherit;
            color: white;
            text-decoration: none;
            padding: 5px;
            display: block;
            transition: 0.4s;
            text-align: center;
           
            width: 100%;
            outline: none;
            cursor: pointer;
           
        }

        .sidenav .dropdown-btn {
            
            line-height: 1.5;
            margin: 5px;

        }
        .dropdown-btn {
            font-size: 20px;
        }

      .dropdown-btn::before {
        position: absolute;
        content: ">";
       right: 20px;
        
      }

    
        .sidenav li a:hover,.dropdown-btn:hover {
           text-transform:uppercase;
           color: #f1f1f1;
        }

        .active {
            background-color: green;
            color: white;
        }

        .dropdown-container {
            padding-left: 10px;
            background-color: #262626;
            display: none;
            
        }

        .main {
            display: flex;
           margin-top: 70px;
            padding:5px;
            justify-content: center;
            font-size: 20px;
            line-height:1.5;
            font-weight: 700;
            background-color: #d9d9d9; 
            box-shadow: 0px 0px 10px 2px red;
         }
        .main > .left {
            padding: 0 20px;
            width: 60%;
         }
       .main > .right {
            width: 40%;
            padding: 0 20px;
          
         }
         .left p img {
            width: 100%;
            border-radius: 10px;
         }
         .right p img {
            width: 100%;
            border-radius: 10px;
         }
         .header {
            text-align: center;
         }

        .footer {
            background-color: darkcyan;
            padding: 10px;
            text-align: center;
            font-size: 22px;
            font-weight: 600;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

      nav .container10 {
        display: none;
        margin-left: 5px;
      
      }

      .container10 {

    background-color: dodgerblue;
    padding: 10px;
    cursor: pointer;
    transition: 0.5s;
 

    }

.bar1, .bar2, .bar3 {
      width: 60px;
      height: 5px;
     background-color: black;
    margin: 10px 0;
    transform: rotate(720deg);
    transition: 0.4s;
  
    }

 .change {
      text-align: center;
      padding: 10;
      transform: rotate(360deg);
      transition:0.4s;
     background: coral;

    }


    .change .bar1  {
      transform: rotate(-45deg)translate(0px,21px);
      
    }

    .change .bar2 {
      opacity: 0;
    }

   .change .bar3 {
      transform: rotate(45deg) translate(0px,-21px);
    }



    #myBtn {
        position: fixed;
         display: none;
         bottom: 5px;
         right: 10px;
         z-index:50;
         border: none;
         outline: none;
         background-color: red;
         background-color: rgba(255, 0, 0, 0.7); 
         color: white;
         cursor: pointer;
         padding: 15px;
         border-radius: 10px;
         font-size: 20px;
         animation: ease-in-out;
         animation-name: example1;
         animation-duration: 3s;
         animation-iteration-count: infinite;
         
         
    }

    @keyframes example1 {
        from {bottom:5px}
        to {bottom:40px ;}
        
    }

    #myBtn:hover {
        background-color:#21222a;
    }

    hr {
       border: 1px solid red;
       margin-top: 50px;
    }

.container12 {
    background-color: #deebf8;
    display: flex;
    margin: 10px;
    text-align: center;
    padding: 30px;
    font-size: 20px;
    font-weight: 700;
    align-items: center;
    justify-content:space-between;


}

.container12 img {
    width: 140px;
    transition: 0.9s;
}
.container12 >.container13 {
    max-width: 200px;
    height: auto;
    padding: 10px;
    margin: 0 9px;
    background-color: #f2f2f2;
    box-shadow: 0px 0px 3px 4px #999;
    transition: 0.5s;
    position: relative;
    border-radius: 10px;
   
}


.container13 .overlay {
    width: 100%;
    height: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: dodgerblue;
    background-color: rgba(255, 250, 150, 0.2);
    border-radius: 10px;
    transition: 0.8s;

}

.container13:hover .overlay {
    height: 100%;;
    box-shadow: 0px 0px 5px 5px red,0px 0px 7px 7px dodgerblue;
    
}

.container13:hover img {
    background-color: green;
    transform: rotate(360deg) scale(1.1);
    
}
.container13:hover {
    transform: scale(1.1);
}


@media screen and (max-width:1150px) {

    .container {
        flex-wrap: wrap;
        justify-content: center;
    
    }
    .container1 button {
        margin: 10px 0;
    }
   .container1 img {
        width: 100%;
        height: 300px;
    }
 
    
    .container12 {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
      
    }
 .container12 > .container13 {
        margin: 20px;
    }

    
    }


@media screen and (max-width:900px) {

    .main {
        flex-direction: column;
        font-size: 18px;
   
    }

    .main > .left {
        width: 100%;
    }

   .main > .right{
        width: 100%;
    }

nav li a {
    display: none;
}
nav .container10 {
    display: block;
}

nav .dropdown {
    display: none;
}



  .container13:hover img {
    background-color: none;
    transform: rotate(0deg) scale(1);
    
}

.container1:hover img {
    transform: scale(1);
  }
}


@media screen and (max-width:400px) {
    .container12 {
        font-size: 17px;
    }

    .container {
      padding: 0;
      margin: 0;
   }

   
   .container1 img {
    max-width:100%;
  
}



}

